@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
}

.flat {
    border-radius: 0 !important;
}

.biov-header {
    border-top: 10px solid yellow;
    height: 100px;
    box-shadow: 0px 1px 5px #6c6c6c;
}

.biov-header .img-fluid {
    width: 100px;
    margin-top: 15px;
}

.biov-header .biov-arabic {
    width: 100% !important;
    margin: 0 !important;
}

.biov-site-heading {
    margin-top: 10px;
}

.biov-login-container {
    font-size: 10px;
    margin-top: 20px;
    text-align: center;
}

.btn-yellow {
    color: #000;
    background-color: #fae013;
    border-color: #ff0;
    font-weight: bold;
}

.btn-yellow :hover,
.btn-yellow :active {
    color: #000;
    background-color: #fae013;
    border-color: #ff0;
    font-weight: bold;
}

.btn-blue {
    color: #fff;
    background-color: #005187;
    border-color: #273f29;
    font-weight: bold;
}

.btn-blue :hover,
.btn-blue :active {
    color: #fff;
    background-color: #005187;
    border-color: #273f29;
    font-weight: bold;
}

.biov-search-bar {
    height: 100px;
    background: #dddddd;
    padding: 30px;
}

.biov-search-bar input {
    border-radius: 20px 0 0 20px;
}

.biov-search-bar .input-group-append {
    margin-left: -20px;
}

.biov-search-bar .input-group-append>button {
    border-radius: 20px !important;
    z-index: 10;
}

.biov-nav {
    border-bottom: 2px solid #033f85;
}

.biov-nav img {
    position: absolute;
    bottom: 0;
}

.biov-nav ul>li {
    display: flex;
}

.biov-nav ul>li>a {
    color: #191816;
}

.biov-nav ul>li:not(:last-child):after {
    content: '|';
    line-height: 2.5;
}

.biov-content {
    padding-top: 15px;
}

.biov-buyer-card {
    margin: 0;
    height: 100%;
}

.biov-buyer-card>div:first-child {
    background: #efedee;
}

.biov-buyer-card>div:first-child>.row:first-child {
    padding: 10px 0;
    height: 80%;
}

.biov-buyer-card>div:first-child>.row:last-child {
    background: #005184;
    height: 20%;
}

.biov-buyer-card>div:first-child>.row:first-child img {
    margin-top: 6px;
}

.biov-buyer-card>div:first-child>.row:first-child>div>h3 {
    color: #00497c;
    font-weight: bold;
}

.biov-buyer-card>div:first-child>.row:first-child>div>p {
    font-size: 12px;
}

.biov-buyer-card>div:last-child {
    background: #005184;
    color: #fff;
    border-left: 1px solid #1570a4;
    font-size: 14px;
}

.biov-buyer-card>div:last-child>.row {
    height: 100%;
}

.biov-buyer-card>div:last-child ul {
    padding-left: 15px;
    margin-top: 15px;
}

.biov-seller-card {
    margin: 0;
    height: 100%;
}

.biov-seller-card>div:first-child {
    background: #efedee;
    height: 80%;
}

.biov-seller-card>div:last-child {
    background: #005184;
    height: 20%;
}

.biov-seller-card>div:first-child {
    margin: 0;
}

.biov-seller-card>div:first-child>div:first-child>img {
    margin-top: 10px;
}

.biov-seller-card>div:first-child>div:last-child {
    padding: 10px;
}

.biov-seller-card>div:first-child>div:last-child>h3 {
    font-weight: bold;
    color: #00497c;
    margin-top: 8px;
}

.biov-seller-card>div:first-child>div:last-child>p {
    font-size: 12px;
}

.biov-seller-card>div:last-child {
    margin: 0;
}

.biov-seller-card>div:last-child>div>a {
    line-height: 1.9;
    color: #fff;
    text-decoration: none;
}

.biov-products {
    padding: 15px 0;
}

.biov-products>.col-md-3 {
    margin-bottom: 15px;
}

.biov-products .card .card-body {
    padding: 0.25rem !important;
    background: #1e1916;
    color: #ffdf47;
}

.biov-products .card .card-body>h4.card-title {
    font-size: 12px;
    text-align: right;
    margin: 0;
}

.biov-order-no-box {
    background: #fae013;
    padding: 15px 0;
}

.biov-order-no-box label {
    font-size: 20px;
    font-weight: bold;
}

.biov-order-no-box input {
    border-radius: 0;
}

.biov-call-back-box {
    padding-top: 15px;
}

.biov-call-back-box>div:first-child {
    background: #fae013;
    padding: 15px;
}

.biov-call-back-box>div:first-child>h3 {
    font-size: 20px;
    font-weight: bold;
}

.biov-call-back-box>div:last-child {
    background: #005184;
}

.biov-call-back-box>div:last-child>a {
    color: #fff;
    text-decoration: none;
}

.biov-call-agent-box {
    padding-top: 15px;
}

.biov-call-agent-box>div:first-child>h3 {
    font-size: 20px;
    font-weight: bold;
}

.biov-call-agent-box>div:last-child {
    border-left: 15px solid #005184;
    background: #fae013;
    padding: 15px;
}

.biov-call-agent-box>div:last-child hr {
    border-top: 1px solid #000;
    margin: 0.5rem 0;
}

.biov-call-agent-box>div:last-child h6 {
    font-size: 18px;
    margin: 0;
}

.biov-call-agent-box>div:last-child h5 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.biov-chat-box {
    margin-top: 15px;
    background: #efedee;
    border: 1px solid #d3d1d2;
}

.biov-chat-box>div:last-child>div {
    font-size: 10px;
    font-weight: bold;
    background: yellow;
    padding: 5px;
    border-bottom: 5px solid #005184;
    margin-top: 15px;
}

.biov-looking-for {
    background: #d9ce30;
    padding: 15px 0;
}

.biov-looking-for-heading {
    font-size: 30px;
    margin: 30px 0 20px 0;
}

.biov-looking-for ul {
    list-style: none;
    padding: 0;
}

.biov-footer {
    padding: 80px 0;
}

.biov-footer .footer-heading-row {
    height: 80px 0 200px 0;
}

.biov-footer .footer-heading-row>div>h4 {
    margin: 30px 0;
    font-size: 15px;
    font-weight: bold;
}

.biov-footer ul {
    list-style: none;
    padding: 10px 0;
}

.biov-nav-menu {
    margin: 0;
    position: absolute;
    z-index: 12;
    background: #FFF;
    top: -15px;
    box-shadow: 0px 2px 5px black;
    display: none;
}

.biov-nav-menu h5 {
    color: #8e555b;
    margin: 20px 0;
}

.biov-nav-menu .list-group>a {
    border: none;
    padding-left: 0;
    padding-right: 0;
}