@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

html,
body {
    font-family: 'Montserrat', sans-serif;
}

.flat {
    border-radius: 0 !important;
}

.biov-header {
    border-top: 10px solid yellow;
    height: 100px;
    box-shadow: 0px 1px 5px #6c6c6c;
}

.biov-header .img-fluid {
    width: 100px;
    margin-top: 15px;
}

.biov-header .biov-arabic {
    width: 100% !important;
    margin: 0 !important;
}

.biov-site-heading {
    margin-top: 31px;
}

.biov-login-container {
    font-size: 10px;
    margin-top: 20px;
    text-align: center;
}

.btn-yellow {
    color: #000;
    background-color: #fae013;
    border-color: #ff0;
    font-weight: bold;
}

.btn-yellow :hover,
.btn-yellow :active {
    color: #000;
    background-color: #fae013;
    border-color: #ff0;
    font-weight: bold;
}

.btn-grey {
    color: #000;
    background-color: #c1c1c1;
    border-color: #797269;
}

.btn-grey :hover,
.btn-grey :active {
    color: #000;
    background-color: #c1c1c1;
    border-color: #797269;
}

.btn-blue {
    color: #fff;
    background-color: #005187;
    border-color: #273f29;
    font-weight: bold;
}

.btn-blue :hover,
.btn-blue :active {
    color: #fff;
    background-color: #005187;
    border-color: #273f29;
    font-weight: bold;
}

.yellow-round-icon {
    margin-right: 15px;
    background: #fae013;
    padding: 5px 10px;
    border-radius: 999px;
    border: 1px solid #211913;
}

.btn-eclipse {
    border-radius: 999px;
    padding: 5px 20px;
    border: 1px solid #211913;
}

.biov-search-bar {
    height: 100px;
    background: #fae013;
    padding: 30px;
}

.biov-search-bar input {
    border-radius: 20px 0 0 20px;
    border: 1px solid #797269;
}

.biov-search-bar .input-group-append>button {
    border-radius: 0 20px 20px 0 !important;
    z-index: 10;
}

#breadcrumbs {
    margin-top: -25px;
}

.breadcrumb-divider {
    font-weight: 900;
}

.biov-content {
    padding-bottom: 30px;
}

.contact-img {
    position: absolute;
    width: 100px;
    top: -30px;
    right: 0;
    z-index: 10;
}

.contact-heading {
    margin: 20px 0;
}

.contact-input-label {}

.biov-foot-note {
    background: #dddddd;
    height: 300px;
}


/* Remove default bullets */
#myUL,
#myUL ul {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    /* content: "\25B6"; */
    content: url('./../images/icons/icon-06.jpg');
    color: black;
    display: inline-block;
    margin-right: 6px;
    transform: rotate(180deg);
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(360deg);
}

/* Hide the nested list */
.nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}

.multi-table {
    width: 100%;
    margin-bottom: 1rem;
}

.multi-table td {
    padding: 15px 5px;
}

.multi-table td:first-child {
    padding: 15px 5px 15px 0 !important;
}

.multi-table td:last-child {
    padding: 15px 0 15px 5px !important;
}

.multi-table td>.form-group {
    margin: 0;
}

.multi-table td>.form-group>input,
.multi-table td>button {
    border-radius: 0;
}

.server-link textarea {
    border-radius: 0;
}

.accordion>.card {
    border: none !important;
}

.accordion>.card>.card-header {
    display: none;
}

.accordion>.card>.collapse>.card-footer {
    border: none !important;
    background: none !important;
}

.accordion>.card>.collapse>.card-body>.tree {
    border: 2px solid #efefef;
    padding: 1.5rem 2.3rem;
    height: 200px;
    overflow: auto;
}

.seller-form {
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.seller-form>h1 {
    font-size: 2.3rem;
}

.seller-form>.row>div>h2 {
    font-size: 1.5rem;
}

.seller-form>.row>.stepper {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.seller-form>.row>.stepper>.list-group>.list-group-item {
    font-weight: bold;
    color: #b9b9b9;
    border: none;
    padding: 1.5rem 0;
    background: transparent;
    line-height: 2;
}

.seller-form>.row>.stepper>.list-group>.list-group-item.active {
    font-weight: bold;
    color: #00aea1;
    background: none;
}

.seller-form>.row>.stepper>.list-group>.list-group-item>.stepper-circle {
    margin-right: 1rem;
    padding: 7px 12px;
    border-radius: 999px;
    color: #b9b9b9;
    background: #f0f3fd;
    font-family: 'monospaced';
}

.seller-form>.row>.stepper>.list-group>.list-group-item.active>.stepper-circle {
    color: #fff !important;
    background: #00aea1 !important;
}

vr {
    height: 100%;
    border-left: 5px solid #f0f3fd;
    position: absolute;
    left: 1rem;
    z-index: -1;
}

vr.active {
    border-color: #00aea1;
}